*{
   box-sizing: border-box;
}
header{
    background-color: #CF2B2B;
    width: 414px;
    height: 92px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}

body{

    background-color: #E5E5E5;
    width: 414px;
    /* margin: auto; */
    /*
    max-width: 500px;
     */


}

h1{
    font-family: Righteous;
    margin-left: 21px;
    margin-top: 8px;
    font-size: 44px;
    color: #FFFFFF;
}

header p{
    font-family: Roboto;
    margin-left: 21px;
    font-size: 18px;
    color: #FFFFFF;

}
section:first-of-type{
    margin-top: 123px;
}
section:last-of-type{
    margin-bottom: 108px;
}
section{
    width: 395px;
    margin-left: 19px;
    margin-bottom: 27px;

}

section h2{
    font-family: Righteous;
    font-size: 26px;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 17px;
}


section .produtos{
    display: flex;
    width: 395px;
    overflow: hidden;
    overflow-x: scroll;


}

.produto{
    width: 172px;
    height: 202px;
    display: flex;
    margin-right: 16px;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    position: relative;
    
    

}

.produto .infoProduto{
    margin: 18px 14px 13px  14px;
    

}

.produto div img{
    width: 144px;
    height: 87px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.produto div .nome{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #333333;
    
}

.produto div .descricao{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    color: #A6A6A6;
    margin-top: 8px;
}

.produto div .preco{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #000000;
    margin-top: 9px;
}
.produto .iconSelecionado{
    width: 15.44px;
    height: 15.44px;
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(50, 183, 47);
    border-radius: 50%;
    align-items:center;
    justify-content: center;

}
.produto .iconSelecionado ion-icon{
    display: block;
    width: 15.44px;
    height: 15.44px;
    color: red;
}

.selecionado{
    
    border: 5px solid rgba(50, 183, 47, 1);

}

.confirmarPedido{
    background-color: #32B72F;
}

footer{
    width: 414px;
    height: 92px;
    display: flex;
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 1);
    
}

footer div{

    background: #CBCBCB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 364px;
    height: 53px;
    align-items: center;
    border-radius: 50px;
    margin: 15px 25px 16px  25px;
}

footer div p{
    display: block;
    font-family: Roboto;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

footer .pedido{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}